.page-jogo .time-container {
    flex-basis: 50%;
}
.page-jogo .jogadores {
    column-count: 2;
    column-gap: 6px;
}
.page-jogo .jogador-card {
    background-color: white;
    border: 1px dashed gray;
    color: black;
    display: flex;
    font-weight: 500;
    font-size: .9em;
    line-height: 1.3;
    margin-bottom: .5rem;
    padding: .3rem .3rem;
    text-transform: uppercase;
}
.page-jogo .jogador-card .numero {
    flex: 0 0 50px;
    text-align: center;
}
.page-jogo .jogador-card.selecionado {
    background-color: blue !important;
    color: white;
}
/* Reservas */
.page-jogo .jogadores .jogador-card:nth-child(n + 9) {
    background-color: #ccc;
}